{% extends "base.html" %}
{% block content %}
<h1>External Tools</h1>
<section>
  <h2>Finance</h2>
  <ul>
    <li><a href="https://www.chaserhq.com" target="_blank">Chaser</a></li>
    <li><a href="https://www.xero.com/uk/login/" target="_blank">Xero</a></li>
    <li><a href="https://analytics.fidel.uk/auth/login?redirect=%2Fquestion%2F55-qualifiable-transactions" target="_blank">Fidel Metabase</a></li>
  </ul>
</section>
<section>
  <h2>Admin</h2>
  <ul>
    <li><a href="https://www.fidelapi.com" target="_blank">Fidel Marketplace</a></li>
  </ul>
</section>
<section>
  <h2>Account Management and Sales</h2>
  <ul>
    <li><a href="https://fireflies.ai/" target="_blank">Fireflies</a></li>
    <li><a href="https://app.hubspot.com/contacts/8653484/objects/0-3/views/all/list" target="_blank">Hubspot</a></li>
  </ul>
</section>
{% endblock %}
